@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*
	font-family: 'Montserrat', sans-serif;
    google.com/fonts
*/


body {
	font-family: 'Montserrat', sans-serif;
  height: 100%;

}

  .parallax {
        background-image: url("./img/fundo.jpg");
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
  }

.titleReader {
  font-weight: bold;
}  

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.h1-2 {
  margin-top: 0.5rem;
}

div {
  text-align: justify;
  text-justify: inter-word;
}

nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

title{
  color: #000000;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

li {
    display: inline;
    margin-right: 50px;
}

li:hover {
    font-weight: bold;
}

header, footer {
	width: auto;
	background: rgba(80,80,80,0.2);
	line-height: 3em;
}

header {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	height: 11 0px;
  padding: 5px;
}

footer {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	height: 50px;
}

header h1, footer h1 {
	text-align: center;
	text-shadow: 1px 1px black;
}

#content {
	width: 100%;
	height: auto;
	position: relative;
	float: left;
}

article {
	margin-top: 10px; 
	width: 40%;
	border: 2px dashed var(--vermelho);
	height: 400px;
	margin-left: 5%;
	position: relative;
	float: left;
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

a {
    text-decoration: none;
}


.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

.mt-05 		{margin-top: 5px;}
.mt-10 		{margin-top: 10px;}
.mt-15 		{margin-top: 15px;}

.mb-05 		{margin-bottom: 5px;}
.mb-10 		{margin-bottom: 10px;}
.mb-15 		{margin-bottom: 15px;}

.pd-05 		{padding: 5px;}
.pd-10 		{padding: 10px;}
.pd-15 		{padding: 15px;}



.borda-0   {border: none;}
.borda-1   {border: solid 1px;}
.borda-2   {border: solid 2px;}
.borda-3   {border: solid 3px;}
.borda-r0  {border-radius: 0px;}
.borda-r5  {border-radius: 5px;}
.borda-r10 {border-radius: 10px;}

.bordaBranco   {border-color: #ffffff;} 
.bordaAmarelo  {border-color: #ffe600;;}
.bordaAzul     {border-color: #1100ff;;}
.bordaVermelho {border-color: #ff0000;;}
.bordaVerde    {border-color: #00ff00;}
.bordaPreto	   {border-color: #000000;}
.bordaCustom	   {border-color: #a78b82;}


.color1 {background-color: #aab3ab8f;} 
.color2 {background-color: #c4cbb76e;}  /* green with opacity */
.color3 {background-color: rgba(127, 127, 160, 0.3);}  /* blue with opacity */

@-webkit-keyframes spinner-border {
    to {
      transform: rotate(360deg) /* rtl:ignore */;
    }
  }
@keyframes spinner-border {
  to {
    transform: rotate(360deg) /* rtl:ignore */;
  }
}
.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: 0.75s linear infinite spinner-border;
  animation: 0.75s linear infinite spinner-border;
}


.text-success {
    color: #198754 !important;
  }

.text-danger {
    color: #ff0000 !important;
  } 
  
.text-azul {
    color: #001aff !important;
}
.text-light {
  color: #f8f9fa !important;
}

.text-dark {
  color: #212529 !important;
}

.text-white {
  color: #fff !important;
}

.text-body {
  color: #212529 !important;
}

.text-muted {
  color: #6c757d !important;
}

.text-black-50 {
  color: rgba(0, 0, 0, 0.5) !important;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5) !important;
}

.text-reset {
  color: inherit !important;
}

.justify-content-center {
  justify-content: center !important;
} 
.ms-auto {
    margin-left: auto !important;
  } 

.d-flex {
  display: flex !important;
}

/* CARDS */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(180, 156, 156, 0.295);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-color {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-subtitle {
  margin-top: -0.25rem;
  margin-bottom: 0;
}
.card-text:last-child {
  margin-bottom: 0;
}

 
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}
